h2 {
    color: #111111;
    font-family: Akira;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    padding: 5rem 0;
}

#Indumentaria, #Calzado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    justify-content: center;
    align-content: none;
    grid-template-areas: none;
    gap: 50px;
    padding: 2rem 15rem;
}
